.capitalize {
  text-transform: capitalize;
}

.results-container {
  background-color: $lightest-gray;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;

  .results {
    width: 95%;
    height: 95%;
    margin-top: 2%;
    background-color: white;

    .result-list {
      height: 85%;
      overflow: scroll;
      margin-bottom: 20px;

      .result-title {
        background-color: white;
        z-index: 100;
        width: 85%;
        position: fixed;
        left: 8%;
        align-self: center;
        font-family: $sans;
        font-size: 30px;
        color: $light-black;
        padding: 30px 0 50px 0;
        overflow: scroll;
        white-space: nowrap;
      }

      .result-list-items {
        margin-top: 122px;
        text-align: center;

        .result-list-item {
          border: 1px solid $light-gray;
          padding: 20px;
          margin: 20px auto;
          width: 50%;
          height: 50%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-family: $sans;
          font-size: 18px;

          .label-container {
            position: relative;

            .branded, .generic {
              background-color: $orange;
              width: 25px;
              height: 25px;
              color: white;
              position: absolute;
            }
            .generic {
              background-color: $light-blue;
            }
          }

          .result-list-item-name {
            margin-left: 25px;
          }
        }

        .result-list-item:hover {
          background-color: $lightest-gray;
          cursor: pointer;
        }
      }
    }

    .search-again {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 10%;
      font-family: $sans;
      cursor: pointer;
      
      span {
        color: $orange;
      }
    }
  }
}