<!DOCTYPE html>
<html>
  <head>
    <title>RxNorm</title>
    <link 
      rel="icon" type="image/gif/png" 
      href="http://res.cloudinary.com/rlee0525/image/upload/v1511309375/logo_gpnitx.png"
    >
    <link 
      rel="stylesheet" crossorigin="anonymous"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" 
      integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
    >
    <link 
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300|Lora|Bungee+Hairline|Jacques+Francois+Shadow|Open+Sans:300,400|Lato"
    >
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
